.nav {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: #002642;
  align-items: center;
  color: #E5DADA;
}

#nav-title {
  color: #E98A15;
  margin: 0;
  margin-right: auto;
  padding-left: 15px;
  font-size: 3.5em;
  font-style: italic;
  font-family: 'Righteous', cursive;
  user-select: none;
}

#nav-title:hover {
  color: lightgrey;
}

#nav-title:active {
  transform: translateY(1px);
}

.modal-close-button {
  background: grey;
  /* font-size: 4em; */
  /* height: 80px; */
  /* width: 80px; */
  /* margin-left: 10px; */
  text-align: center;
  color: white;
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.modal-close-button:hover {
  background: #840032;
  color: black;
  border-radius:50px;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: none;
}

/* This code is commented out in order to test the react dropdown */
 .dropdwn1 {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdwn2 {
  position: relative;
  display: inline-block;
}

.title-icon {
  color: orange;
  padding-left: 15px;
  user-select: none;
}

/*
.dropdwn1-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 200px;
  z-index: 1;
}

.dropdwn2-content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 200px;
  z-index: 1;
}

.dropdwn1:hover .dropdwn1-content {
  display: block;
  right: 0;
  padding: 10px;
}

.dropdwn2:hover .dropdwn2-content {
  display: block;
  right: 0;
  margin-right: 10px;
  padding: 10px;
} */
.nav-buttons {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  font-size: 1.5em;
  user-select: none;
  font-weight: bold;
  border-left: 2px solid black;
}

.nav-buttons:hover {
  background: mediumblue;
}

.nav-buttons:active {
}

#register-button {
}

#login-button {

}

#logout-button {
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
