.nav {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-color: lightblue;
  align-items: center;
}

#nav-title {
  margin: 0;
  margin-right: auto;
  padding-left: 10px;
  font-size: 2.5em;
}

.modal-close-button {
  background: grey;
  font-size: 2em;
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.modal-close-button:hover {
  background: red;
}

/* This code is commented out in order to test the react dropdown */
 .dropdwn1 {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdwn2 {
  position: relative;
  display: inline-block;
}

/*
.dropdwn1-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 200px;
  z-index: 1;
}

.dropdwn2-content {
  display: none;
  position: absolute;
  background-color: pink;
  min-width: 200px;
  z-index: 1;
}

.dropdwn1:hover .dropdwn1-content {
  display: block;
  right: 0;
  padding: 10px;
}

.dropdwn2:hover .dropdwn2-content {
  display: block;
  right: 0;
  margin-right: 10px;
  padding: 10px;
} */
.nav-buttons {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.nav-buttons:hover {
  background: cornflowerblue;
}

#register-button {
}

#login-button {

}

#logout-button {
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
