.App {
  text-align: center;
}

nav{
  background-color: #002642;
  color: #E5DADA;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}

nav input{
  width:auto;
  height:20px;
}
.nav {
  justify-content: flex-end;
}
