.event-list-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid green;
  width: auto;
  padding: 10px;
}

.event-list {
  display: grid;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 1%;
}
