.event-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  width: auto;
}

.event-list {
  display: grid;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 2%;
}
