.userProfile{
  width:1000px;
  height:100%;
  margin: 0 auto;
}

.userBody{
  height:1000px;
  border-radius: 10px 0px 0px 10px;
  background-color: #002642;
  box-shadow: 10px, rgba(0,0,0,0, 0.1);
}

.userBody h1{
  font-style: italic;
  font-weight: bolder;
  color: #E98A15;
}

.userBody h2{
  font-style: italic;
  color: #840032;
}

.userBody p {
  font-style: italic;
  color: #E5DADA;
}

.userimage{
  border-radius: 50px;

}

.activePoint {
  border-radius: 50px;
  width:10px;
  height:10px;
}
