.userProfile {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.userBody {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.user-info {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: red;
  align-items: center;
  justify-content: center;
  display: absolute;
}

.userList {
  background: blue;
  margin-top: 1%;
  margin-bottom: 1%;
  width: auto;
}

.user-details {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.user-image {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
