.CommentList{
  height: 300px;
  width: 250px;
  overflow: scroll;
}

.Comment{
  display:grid;
  grid-template-rows: 20% 80%;
}

.CommentHeader{
  width: inherit;
  border: 1px solid black;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.CommentDate{
  font-size: 9px;
}

.CommentUsername{
  font-weight: bold;
  font-size: 15;
}
