.CommentList{
  height: 500px;
  width: 250px;
  overflow: scroll;
  margin-bottom: 50px;
}

.Comment{
  border: 1px solid grey;
  margin-bottom: 5px;
  padding: 5px;
  height: 200px;
  display:grid;
  grid-template-rows: 20% 80%;
}

.CommentHeader{
  width: auto;
  border-bottom: 1px solid black;
  display:grid;
  grid-template-columns: 40% 60%;
}

.CommentDate{
  height: 10px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 9px;
  padding-bottom: 0;
  align-self: end;
}

.CommentUsername{
  font-weight: bold;
  font-size: 15;
  margin-bottom: 18px;
  align-self: end;
}

.CommentContent{
  padding: 5px;
}
