.footer {
  background-color: rgb(50, 50, 50);
  color: #E5DADA;
  width: 100%;
  position: static;
  margin-top: 2%;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  user-select: none;
}

.footer-text1 {
  margin: 0;
  font-size: 1.5em;
}

.footer-text2 {
}
