.event-item {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  width: 330px;
  height: 330px;
  overflow: scroll;
  background: white;
}

.event-item:hover{
  box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
  transition: 0.2s ease-in 0.1s;
  height:335px;
  width:335px;
}

.event-item-image {
  width: 330px;
  height: 220px;
  border-bottom: 1px solid grey;
}

.event-item-title {
  font-size: 1.5em;
  text-align: center;
  padding: 0 5px;
  margin: 0px;
  margin-top: 5px;
  color:#840032;
}

.event-item-start-date {
  text-align: left;
  padding-left: 10px;
  font-size: .7em;
}

.event-item-address {
  -ms-text-align-last: auto;
  text-align: left;
  padding-left: 10px;
}
