.event-item {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid black;
  width: 330px;
  height: 330px;
  overflow: scroll;
  background: white;
}

.event-item-image-container {
}

.event-item-text-container {
}

.event-item-image {
  width: 330px;
  height: 220px;
  border-bottom: 1px solid grey;
}

.event-item-title {
  font-size: 1.5em;
  text-align: left;
  padding-left: 10px;
  margin: 0px;
  margin-top: 5px;
}

.event-item-start-date {
  text-align: left;
  padding-left: 10px;
  font-size: .7em;
}

.event-item-address {
  -ms-text-align-last: auto;
  text-align: left;
  padding-left: 10px;
}
