.splashNew {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 1%;
  justify-content: center;
}

.previous-slide-button {
  width: 100px;
  user-select: none;
  font-size: 8em;
  border: 0;
  background: lightblue;
}

.next-slide-button {
  width: 100px;
  font-size: 8em;
  user-select: none;
  border: 0;
  background: lightblue;
}

.next-slide-button:focus {
  outline: 0;
}

.previous-slide-button:focus {
  outline: 0;
}

.next-slide-button:active {
  transform: translateY(2px);
}

.previous-slide-button:active {
  transform: translateY(2px);
}

.splash-img-container {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.splash-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 50px;
  text-align: left;
  color: white;
  background: rgb(70, 130, 180, 0.6);
  width: 96%;
}

.splash-img-text-title {
  font-size: 4em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.splash-img-text-info {
  font-size: 2em;
  margin-bottom: 30px;
  overflow: scroll;
}

img {
  width: 1200px;
  height: 600px;
}
