.login-form-container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-submit-button {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.login-submit-button:hover {
  background: springgreen;
}

.login-submit-button:focus {
  outline: none;
}
